#firstSection{
    background: linear-gradient(purple,gold);
}
#secondSection{
	display: none;
    background: linear-gradient(blue,red);
    color: white;
}
#swapButton{
    display: none;
}
section {
	margin: auto;
	width: 50%;
	width: 500px;
	height: 200px;
	font-size: 30px;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

.rightAlign {
  margin: 0;
  position: absolute;
  left: 55%;
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}